@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden::-webkit-scrollbar {
    width: 0;
}

.custom-box {
    background: linear-gradient(151deg, rgb(255, 254, 249) 3.3%, rgb(92, 209, 99) 93.34%);
    border-radius: 12px 50% 12px 12px;
    width: 8rem;
    height: 8rem;
}

.type-writer-effect div {
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;

    /* Adjust as needed */
    animation:
        typing 5.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}